body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-around;
    padding-top: 24px;
}

header > .logo {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #254F4C;
}

.menu {
    margin-left: 90px;
}

header .menu > ul {
    position: relative;
    display: flex;
    gap: 120px;
    right: 80px;
}

header .home {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

header li > a {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D3130;
}

header .arrow {
    margin: 3px 0 0 10px;
}

header .contact-number {
    margin: 3px 0 0 10px;
}


header .basket {
    margin: 0 0 0 50px;
}

.main-block {
    display: flex;
    justify-content: space-around;
}

.main-block > .flex-column {
    margin-top: 100px;
}

.main-block .flex-column > h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #254F4C;
}

.main-block .flex-column > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D3130;
}

.main-block .flex-column > button {
    width: 216px;
    height: 49px;
    background: #FF583E;
    border-radius: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 147.19%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.main-block .main-img {
    position: relative;
    width: 659px;
    height: 455px;
    top: 30px;
}

.novelties {
    display: flex;
    justify-content: space-around;
    margin-top: 89px;
}

.novelties > h2 {
    width: 112px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #254F4C;
    margin-right: 20px;
}

.novelties .food-navigation > li > a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D3130;
}

.novelties .food-navigation {
    display: flex;
    gap: 30px;
    margin: 25px 250px 0 0;
}

.burger-menu {
    display: flex;
    justify-content: space-around;
}

.burger-menu > .background-for-cheeseburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 264px;
    height: 348.13px;
    background-color: #2B4241;
    border-radius: 40px;
    margin-top: 88px;
}

.burger-menu > .background-for-cheeseburger > img {
    width: 200px;
    height: 142.87px;
    bottom: 44.27px;
    position: relative;
}

.burger-menu > .background-for-cheeseburger > h3 {
    bottom: 44.27px;
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.burger-menu > .background-for-cheeseburger > .desc {
    bottom: 60px;
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.burger-menu > .background-for-cheeseburger > .price {
    position: relative;
    bottom: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.burger-menu > .background-for-cheeseburger > .quantity {
    position: relative;
    bottom: 110px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.plus {
    top: 5px;
    left: 5px;
    position: relative;
}

.minus {
    bottom: 3px;
    right: 5px;
    position: relative;
}

.burger-menu > .background-for-cheeseburger > button {
    width: 200px;
    height: 48.3px;
    background: #FF583E;
    border-radius: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 147.19%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    margin-top: 300px;
    border: none;
}

.background-for-cheeseburger1 {
    width: 264px;
    height: 348.13px;
    background-color: #2B4241;
    border-radius: 40px;
    margin: 88px 10px 0 0;
}

.flex-cheeseburger {
    display: flex;
    gap: 32px;
    margin-left: 35px;
}

.menu-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 89px;
}

.flex-end {
    display: flex;
    justify-content: end;
}

.sort {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1D3130;
    margin-right: 31px;
}

.option {
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    color: #3A403F;
    width: 160px;
    height: 40px;
    border: 1px solid #C4C4C4;
}

.pizza-menu {
    display: flex;
    justify-content: space-around;
}

.pizza-menu > .background-for-pizza {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 264px;
    height: 338px;
    border-radius: 40px;
    margin-top: 88px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex-pizza {
    display: flex;
    gap: 32px;
    margin-left: 35px;
}

.pizza-menu > .background-for-pizza > img {
    width: 200px;
    height: 142.87px;
    bottom: 44.27px;
    position: relative;
}

.pizza-menu > .background-for-pizza > h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #254F4C;
    bottom: 44.27px;
    position: relative;
}

.pizza-menu > .background-for-pizza > .desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-align: center;
    bottom: 60px;
    position: relative;
}

.pizza-menu > .background-for-pizza > .price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #254F4C;
    position: relative;
    bottom: 80px;
}

.pizza-menu > .background-for-pizza > .quantity {
    position: relative;
    bottom: 115px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #254F4C;
}

.pizza-menu > .background-for-pizza > button {
    width: 200px;
    height: 48px;
    background: #254F4C;
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 147.19%;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    margin-top: 290px;
    border: none;
    color: #FFFFFF;
}

.flex-center {
    display: flex;
    justify-content: center;
    top: 43.42px;
    position: relative;
}

.flex-center > button {
    box-sizing: border-box;
    background-color: transparent;
    width: 200px;
    height: 48.3px;
    border: 1px solid #FF583E;
    border-radius: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 147.19%;
    text-align: center;
    text-transform: uppercase;
    color: #FF583E;
}

.Why-choose-us {
    margin: 82px 0 0 35px;
}

.choose-us {
    margin: 100px 0 0 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #254F4C;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Why-choose-us > .flex-column-center > img {
    width: 88px;
    height: 88px;
}


.Why-choose-us > .flex > .flex-column-center > h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #254F4C;
}

.Why-choose-us > .flex > .flex-column-center > p {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1D3130;
    text-align: center;
}

.flex-gap {
    display: flex;
    justify-content: space-around;
}


.review > .review-card {
    width: 248px;
    height: 304px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #1D3130;
    border-radius: 40px;
}

.review > .review-card > img {
    margin-top: 24px;
    width: 85px;
    height: 80px;
    background: #C4C4C4;
    border-radius: 50%;
}

.review > .review-card > h4 {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #3B7976;
}

.review > .review-card > .desc {
    margin-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #061817;
}

.review > .review-card > .comment-date {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #3B7976;
    margin-top: 270px;
    position: absolute;
}

.review > .bg-pen {
    position: absolute;
    width: 38px;
    height: 38px;
    margin-top: -9px;
}

.flex-reviews {
    display: flex;
    gap: 34px;
    margin: 49px 0 0 40px;
}

.reviews {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #254F4C;
    margin: 56px 0 0 45px;
}