body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-around;
    padding-top: 24px;
}

header > .logo {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #254F4C;
}

.menu {
    margin-left: 90px;
}

header .menu > ul {
    position: relative;
    display: flex;
    gap: 120px;
    right: 80px;
}

header .home {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

header li > a {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D3130;
}

header .arrow {
    margin: 3px 0 0 10px;
}

header .contact-number {
    margin: 3px 0 0 10px;
}


header .basket {
    margin: 0 0 0 50px;
}

.main-block {
    display: flex;
    justify-content: space-around;
}

.main-block > .flex-column {
    margin-top: 100px;
}

.main-block .flex-column > h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #254F4C;
}

.main-block .flex-column > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D3130;
}

.main-block .flex-column > button {
    width: 216px;
    height: 49px;
    background: #FF583E;
    border-radius: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 147.19%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.main-block .main-img {
    position: relative;
    width: 659px;
    height: 455px;
    top: 30px;
}